'use client';

import { Prisma } from '@prisma/client';
import { Form } from '@/components/adease';
import { <%- imports.join(', ') %> } from '@mantine/core';
import { useRouter } from 'next/navigation';

type <%- TableName %> = Prisma.<%- TableName %>CreateInput;

type Props = {
  onSubmit: (values: <%- TableName %>) => Promise<<%- TableName %>>;
  defaultValues?: Prisma.<%- TableName %>GetPayload<{}>;
  onSuccess?: (value: <%- TableName %>) => void;
  onError?: (
    error: Error | React.SyntheticEvent<HTMLDivElement, Event>
  ) => void;
};

export default function <%- TableName %>Form({ onSubmit, defaultValues }: Props) {
  const router = useRouter();
  
  return (
    <Form 
      action={onSubmit} 
      queryKey={['<%- plural(tableName) %>']}
<% if (database === 'drizzle') { %>      schema={createInsertSchema(<%- tableName %>)} <% } %>
      defaultValues={defaultValues}
      onSuccess={({ id }) => {
        router.push(`/admin/<%- plural(tableName) %>/${id}`);
      }}
    >
      {(form) => (
        <><% inputFields.forEach(function(field) { %>
          <<%- field.type %> label='<%- capitalize(asWord(field.name)) %>' {...form.getInputProps('<%- field.name %>')} /><% }); %>
        </>
      )}
    </Form>
  );
}
