'use client';
<% if (database === 'drizzle') { %>import { <%- tableName %> } from '@/db/schema';<% } %>
<% if (database === 'prisma') { %>import { Prisma } from '@prisma/client';<% } %>
import { Form } from '@/components/adease';
import { <%- imports.join(', ') %> } from '@mantine/core';
<% if (database === 'drizzle') { %>import { createInsertSchema } from 'drizzle-zod';<% } %>
import { useRouter } from 'next/navigation';

<% if (database === 'drizzle') { %>type <%- TableName %> = typeof <%- tableName %>.$inferInsert;<% } %>
<% if (database === 'prisma') { %>type <%- TableName %> = Prisma.<%- TableName %>Select;<% } %>

type Props = {
  onSubmit: (values: <%- TableName %>) => Promise<<%- TableName %>>;
  defaultValues?: <%- TableName %>;
  onSuccess?: (value: <%- TableName %>) => void;
  onError?: (
    error: Error | React.SyntheticEvent<HTMLDivElement, Event>
  ) => void;
};

export default function <%- TableName %>Form({ onSubmit, defaultValues }: Props) {
  const router = useRouter();
  
  return (
    <Form 
      action={onSubmit} 
      queryKey={['<%- plural(tableName) %>']}
<% if (database === 'drizzle') { %>      schema={createInsertSchema(<%- tableName %>)} <% } %>
      defaultValues={defaultValues}
      onSuccess={({ id }) => {
        router.push(`/admin/<%- plural(tableName) %>/${id}`);
      }}
    ><% inputFields.forEach(function(field) { %>
      <<%- field.type %> name='<%- field.name %>' label='<%- capitalize(asWord(field.name)) %>' /><% }); %>
    </Form>
  );
}