'use client';
import { <%- tableName %> } from '@/db/schema';
import { Form } from 'adease';
import { NumberInput, TextInput } from '@mantine/core';
import { createInsertSchema } from 'drizzle-zod';

type <%- TableName %> = typeof <%- tableName %>.$inferInsert;

type Props = {
  onSubmit: (values: <%- TableName %>) => Promise<<%- TableName %>>;
  defaultValues?: <%- TableName %>;
};

export default function <%- TableName %>Form({ onSubmit, defaultValues }: Props) {
  return (
    <Form 
      action={onSubmit} 
      schema={createInsertSchema(<%- tableName %>)} 
      defaultValues={defaultValues}
    >
      <% fields.forEach(function(prop) { %>
      <%_ const inputType = prop.type.toLowerCase() === 'number' ? 'NumberInput' : 'TextInput' _%>
      <<%- inputType %> name="<%- prop.name %>" label="<%- capitalize(asWord(prop.name)) %>" />
      <% }); %>
    </Form>
  );
}