'use client';
import { <%- tableName %> } from '@/db/schema';
import { Form } from '@/components/adease';
import { <%- imports.join(', ') %> } from '@mantine/core';
import { createInsertSchema } from 'drizzle-zod';

type <%- TableName %> = typeof <%- tableName %>.$inferInsert;

type fields = {
  onSubmit: (values: <%- TableName %>) => Promise<<%- TableName %>>;
  defaultValues?: <%- TableName %>;
};

export default function <%- TableName %>Form({ onSubmit, defaultValues }: fields) {
  return (
    <Form 
      action={onSubmit} 
      schema={createInsertSchema(<%- tableName %>)} 
      defaultValues={defaultValues}
    ><% inputFields.forEach(function(field) { %>
        <<%- field.type %> name="<%- field.name %>" label="<%- capitalize(asWord(field.name)) %>" /><% }); %>
    </Form>
  );
}