'use client';
import { <%- plural(tableName) %> } from '@/db/schema';
import { Form } from 'adease';
import { NumberInput, TextInput } from '@mantine/core';
import { createInsertSchema } from 'drizzle-zod';

type <%- typeName %> = typeof <%- plural(tableName) %>.$inferInsert;

type Props = {
  onSubmit: (values: <%- typeName %>) => Promise<<%- typeName %>>;
  defaultValues?: <%- typeName %>;
};

export default function <%- typeName %>Form({ onSubmit, defaultValues }: Props) {
  return (
    <Form 
      action={onSubmit} 
      schema={createInsertSchema(<%- plural(tableName) %>)} 
      defaultValues={defaultValues}
    >
      <% properties.forEach(function(prop) { %>
      <%_ const inputType = prop.type.toLowerCase() === 'number' ? 'NumberInput' : 'TextInput' _%>
      <<%- inputType %> name="<%- prop.name %>" label="<%- capitalize(wordSpace(prop.name)) %>" />
      <% }); %>
    </Form>
  );
}